#XfceNotifyWindow {
    background-color: #515b60;
    border-radius: 1px;
    border: 1px solid #f20f4f;
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#515b60, 1.0);
    border: 1px solid #515b60;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #e8eff9;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    font-weight: Bold;
    border: 1px solid shade(#515b60, 1.1);
    box-shadow: none;
    background-image: none;
    background-color: shade(#515b60, 1.1);
    color: #e8eff9;
}

#XfceNotifyWindow button:hover {
    box-shadow: none;
    background-image: none;
    background-color: shade(#515b60, 1.2);
    color: #ffffff;
}

#XfceNotifyWindow progressbar {
    border: 0px solid shade(#ff0000, 1.0);
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #f20f4f;
    border: 0px solid shade(#c4744c, 1.0);
    border-radius: 0px;
}

#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#808080, 1.0),
                                      shade(#808080, 1.0)
                                      );
    border: 0px solid shade(#ffff00, 1.0);
    border-radius: 0px;
}
